.navbar {
    padding-top: 100px;
    background-color: black;
}
.dropdown{
    display: none;
}
.mobile{
    display: none;
}


@media (max-width: 768px) {
    .webnav{
        display: none;
    }
    .mobile{
        display: flex;
    }
}